### Project specific ###

proxy/certs/*
!proxy/certs/gen-domain-cert.sh
app/consult.crt
proxy/locations/*
!proxy/locations/mattermost*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Generated data
volumes

*.env
