### Project specific ###

proxy/certs/*
!proxy/certs/gen-domain-cert.sh
app/consult.crt

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Generated data
volumes
